/logs/yasa.2025-09-04.log
/logs/yasa-error.2025-09-04.log
/.idea/
/.vscode/
/logs/
/report/
/node_modules/
/workspace/
test/javascript/benchmarks
test/go/benchmarks
test/python/benchmarks
deps/uast4go
deps/uast4python
.DS_Store
